<!DOCTYPE html>
<html lang="en">
  {% load static %}
  {% load Quiz_filter %}
  {% load form_filter %}
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{% block tittle %}Quiz-Home{% endblock %}
    </title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Krub:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <!-- Template Main CSS File -->
    <link href="{% static 'Quiz/style.css'%}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'Quiz/Quiz.css' %}">
    <!-- =======================================================
* Template Name: Bikin - v4.7.0
* Template URL: https://bootstrapmade.com/bikin-free-simple-landing-page-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
======================================================== -->
  </head>
  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo">
          <a href="homepage.html">Quiz
          </a>
        </h1>
        <nav id="navbar" class="navbar">
          <ul>
            {% if not user.is_authenticated %}
            <li>
              <a class="nav-link scrollto " href="{% url 'login' %}">Login
              </a>
            </li>
            <li>
              <a class="nav-link scrollto" href="{% url 'register' %}">Register
              </a>
            </li>
            {% else %}
            <li>
              <a class="nav-link scrollto" href="{% url 'logout' %}">Logout
              </a>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle">
          </i>
          {% endif %}
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->
    {% block main  %}
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up">
        <h1>
          <i class="fa fa-quote-left fa-3x fa-pull-left">
          </i>Good Questions Inform, Great Questions Transform
        </h1>
        <h2>Welcome to Quiz website where you can find some interesting Quizzes
        </h2>
        {% if not request.user.is_authenticated %}
        <a href="{% url 'login' %}" class="btn-get-started scrollto">Get Started
        </a>
        {% endif %}
      </div>
    </section>
    <!-- End Hero -->
    <main id="main">
      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Quiz
            </h2>
            <p>Some interesting Quizzes
            </p>
          </div>
          <table class="table table-secondary">
            <thead>
              <tr>
                <th scope="col">#
                </th>
                <th scope="col">Name
                </th>
                <th scope="col">Subject
                </th>
                <th scope="col">Score
                </th>
                <th scope="col">Take Quiz
                </th>
              </tr>
            </thead>
            {% for quiz in quizzes %}
            <tbody>
              <tr>
                <th scope="row">{{ forloop.counter }}
                </th>
                <td>{{ quiz.name }}
                </td>
                <td>{{ quiz.subject }}
                </td>
                <td>{{ quiz.score }}
                </td>
                <td>
                  <button type="button" class="btn btn-info">
                    <a href="{% url "quiz_start" quiz.id %}">{% if quiz|is_finished:request.user.student %}See result{% else %}Take Quiz{% endif %}
                    </a>
                  </button>
                </td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>
      </section>
      <!-- End Services Section -->
    </main>
    <!-- End #main -->
    {% endblock main %}
    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="container d-md-flex py-4">
            <div class="me-md-auto text-center text-md-start">
              <div class="copyright">
                &copy; Copyright
                <strong>
                  <span>Bikin
                  </span>
                </strong>. All Rights Reserved
              </div>
              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bikin-free-simple-landing-page-template/ -->
                Designed by
                <a href="https://bootstrapmade.com/">BootstrapMade
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
      <i class="bi bi-arrow-up-short">
      </i>
    </a>
    <!-- Vendor JS Files -->
    <!-- Template Main JS File -->
  </body>
</html>