{% load static %}
{% load Quiz_filter %}
{% load form_filter %}
    {% block main  %}
  <!-- ======= Hero Section ======= -->
   <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                <h3 class="mb-5">Update Quiz</h3>
                   <form  method="post">
                    {% csrf_token %}
                    {% for field in form %}
                            <div class="form-outline mb-4" id="{{ field.id_for_label}}">
                                <label for="{{ field.id_for_label}}" class="form-label">{{ field.label }}</label>
                                    <input type={{field|field_type}} value="{{ field.value }}" id="{{ field.id_for_label}}" name="{{ field.html_name }}" class="form-control form-control-lg"   />
                            </div>
                    {% endfor %}
                    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Update">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
       <div class="container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up">
           <button class="btn btn-primary btn-lg btn-block"><a href="{% url 'question_add' quiz.id %}" class="text-white">Add Question</a></button>
    </div>
    </section>

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Questions</h2>
          <p> Quiz Questions</p>
        </div>
        <table class="table table-secondary">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">name</th>
              <th scope="col">Score</th>
              <th scope="col">Delete question</th>
            </tr>
          </thead>
          {% for question in quiz.questions.all %}
          <tbody>
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
                <td>{{ question.title }}</td>
                <td>{{ question.score }}</td>
                <td><button type="button" class="btn btn-info"><a href="{% url 'delete_question' quiz.id question.id %}">Delete Question</a></button></td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
    </section><!-- End Services Section -->

    <section>
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Particpations</h2>
          <p> Quiz Particpations</p>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Grade</th>
            </tr>
          </thead>
          {% for particpation in quiz.particpations.all %}
          <tbody>
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
                <td>{{ particpation.user.username }}</td>
                <td>{{ particpation.grade }}</td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
    </section><!-- End Services Section -->


  </main><!-- End #main -->
    {% endblock main %}