{% extends "Quiz/homepage.html" %}
{% block main %}
<section id="hero" class="d-flex align-items-center">

    <div class="container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up">
      <h1>Hello Teacher {{ request.user.username }}</h1>
      <h2>We are team of talented designers making websites with Bootstrap</h2>
        <a href="{% url 'add_quiz' %}" class="btn-get-started scrollto">Add Quiz</a>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Quiz</h2>
          <p> Your Quizzes</p>
        </div>
        <table class="table table-secondary">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Subject</th>
              <th scope="col">Score</th>
              <th scope="col">Edit quiz</th>
            </tr>
          </thead>
          {% for quiz in quizzes %}
          <tbody>
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
                <td>{{ quiz.name }}</td>
                <td>{{ quiz.subject }}</td>
                <td>{{ quiz.score }}</td>
                <td><button type="button" class="btn btn-info"><a href="{% url "quiz_details" quiz.id %}">Edit Quiz</a></button></td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
    </section><!-- End Services Section -->


  </main><!-- End #main -->
{% endblock %}
