{% load form_filter %}
{% load form_filter %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body style="background-color: #2c2d31;">
    <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                <h3 class="mb-5">Register</h3>
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name == "type" %}
                            <div class="form-outline mb-4 ">
                                <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <select name="{{ field.html_name }}" id="{{ field.id_for_label }}" class="form-select" aria-label="Default select example">
                                    <option value="T">Teacher</option>
                                    <option value="S">Student</option>
                                </select>
                            </div>
                        {% else %}
                            <div class="form-outline mb-4" id="{{ field.id_for_label}}" {% if field.name == 'grade'%} style="display: none" {%endif%}>
                                <label for="{{ field.id_for_label}}" class="form-label">{{ field.label }}</label>
                                {% if field.errors %}
                                    <input type={{field|field_type}}  id="{{ field.id_for_label}}" name="{{ field.html_name }}" class="form-control form-control-lg is-invalid" />
                                    <div id="validationServer03Feedback" class="invalid-feedback">
                                    {{ field.errors | striptags }}
                                    </div>
                                {% else %}
                                    <input type={{field|field_type}} id="{{ field.id_for_label}}" name="{{ field.html_name }}" class="form-control form-control-lg"   />
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Register"></form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script>
    $('#id_type').on('change',function(){
        if( $(this).val()==="T"){
        $("#id_teacher_id").show()
        $("#id_grade").hide()
        }
        else if(( $(this).val()==="S")){
        $("#id_teacher_id").hide()
        $("#id_grade").show()
        }
        else{
        $("#id_teacher_id").hide()
        $("#id_grade").hide()
        }
    });
    </script>
  </body>
</html>
